body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #282F44;
}

h1, h2 {
    text-align: center;
    color: #BA2C73;
    padding: 10px;
}

/* Make all non-header text color #9995B1 */
body *:not(h1):not(h2) {
    color: #9995B1;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input[type="number"],
.input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.input-section button {
    padding: 5px 10px;
    background-color: #7D70BA;
    color: #343633;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #48455E;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #7D70BA;
    color: #343633;
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #5CC8FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

